h1{
    margin: 0.50em 0.25em !important;         
}
.container{
    text-align: center;
    width: 90% !important;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputBusqueda{
    width: 50%;
}
.iconSearch{
    position: relative;
    right: 45px;
}
#mensajeResultado{
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
}
.row{
    border: 1px solid #c5c5c55e;
    border-radius: 5px;
    background-color: #0000000d;
}
.my-custom-column{
    width: 30% !important;
}
h4{
    font-size: 1.5rem !important;
}
.dashboard{
    margin: auto;
    width: 85%;
    border: 1px solid #c5c5c55e;
    background-color: #0000000d;
    border-radius: 5px;
}
.container_agregar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_add{
    margin: 0.50em 0.55em;    
}
.edit_delete {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.material-icons{
    margin: 0px 10px;
}
.delete_button{
    border: none;
}