<!-- Para esta vista tengo que loguearme como admin  -->
<!-- Dashboard admin -->
<%- include('layouts/main.ejs') %>
<h1>Perfil Admin</h1>
<h2>aca va el dashboard</h2>

<%- include('layouts/footer.ejs') %>