<!-- Para esta vista tengo que loguearme como admin  -->
<!-- Dashboard admin -->
<%- include('layouts/main.ejs') %>
<h1>Perfil autenticado, el perfil orginal</h1>


<%- include('layouts/footer.ejs') %>