<%- include('layouts/main.ejs') %>
  <% if (loginMessage) { %>
            <div><%= loginMessage %></div>
        <%} %> 

<h2>Login</h2>
<form id="signinForm" action="/signin" method="post">
  <input class="validate" type="email" name="email" placeholder="Ex: asd@email.com">
  <span class="helper-text" data-error="Error" data-success="Correcto"></span>
  <input class="validate" type="password" name="password" placeholder="Ex: holis1234">
  <div class="input-field col s12">
    <select class="browser-default"  id="role" name="role" class="validate">
      <option value="" disabled selected>Choose your option</option>
      <option value="admin">Administrador</option>
      <option value="cliente">Cliente</option>
    </select>
  </div>
    <button class="btn waves-effect waves-light" type="submit"> Login 
        <i class="material-icons right">perm_identity</i>
    </button>
</form>

<%- include('layouts/footer.ejs') %>