<footer>
    <h1>el footer</h1>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit(); // Inicializa todos los componentes de Materialize
});

</script>
<!-- script de form registro y login -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
        const signupForm = document.getElementById('signupForm');
        const signinForm = document.getElementById('signinForm');

        function validateForm(form) {
            const inputs = form.querySelectorAll('.validate');
            for (let i = 0; i < inputs.length; i++) {
                if (!inputs[i].value.trim()) {
                    return false;
                }
            }
            return true;
        }
        function addFormSubmitListener(form) {
            form.addEventListener('submit', function(event) {
                if (!validateForm(form)) {
                    event.preventDefault();
                    M.toast({html: 'Por favor, rellena los campos.', classes: 'red'});
                }
            });
        }
        if (signupForm) {
            addFormSubmitListener(signupForm);
        }
        if (signinForm) {
            addFormSubmitListener(signinForm);
        }
    });
</script>

<!-- script inicializa modales -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
    });
</script>

<!-- verificar disponibilidad del salon  -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const eventDateInput = document.getElementById('eventDate');
    const salonTypeSelect = document.getElementById('salonType');
    const availabilityMessage = document.getElementById('availabilityMessage');

    eventDateInput.addEventListener('change', checkAvailability);
    salonTypeSelect.addEventListener('change', checkAvailability);

    async function checkAvailability() {
        const eventDate = eventDateInput.value;
        const salonType = salonTypeSelect.value;
        console.log('Datos enviados:', { eventDate, salonType }); 
        if (!eventDate || !salonType) {
            availabilityMessage.textContent = '';
            return;
        }
        try {
            const response = await fetch('/perfilAdmin/checkAvailability', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ eventDate, salonType })
            });
            if (response.ok) {
                const result = await response.json();
                if (result.available) {
                    availabilityMessage.textContent = 'El sal칩n est치 disponible.';
                    availabilityMessage.style.color = 'green';
                } else {
                    availabilityMessage.textContent = 'El sal칩n no est치 disponible.';
                    availabilityMessage.style.color = 'red';
                }
            } else {
                console.error('Error en la respuesta del servidor');
                availabilityMessage.textContent = 'Error al verificar la disponibilidad';
                availabilityMessage.style.color = 'red';
            }
        } catch (error) {
            console.error('Error al realizar la solicitud', error);
            availabilityMessage.textContent = 'Error al verificar la disponibilidad';
            availabilityMessage.style.color = 'red';
        }
    }
});
</script>

<!-- script form editar cliente existente trayendo sus datos  -->
 
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', function() {
            const clientId = this.getAttribute('data-id');
            const email = this.getAttribute('data-email');
            const name = this.getAttribute('data-name');
            const lastname = this.getAttribute('data-lastname');
            const contact = this.getAttribute('data-contact');
            const details = this.getAttribute('data-details');
            const eventDate = this.getAttribute('data-eventdate');
            const salonType = this.getAttribute('data-salontype');
            const amountChild = this.getAttribute('data-amountchild');
            const amountAdult = this.getAttribute('data-amountadult');
            const specificDetails = this.getAttribute('data-specificdetails');

            document.getElementById('clientId').value = clientId;
            document.getElementById('emailEditar').value = email;
            document.getElementById('nameEditar').value = name;
            document.getElementById('lastnameEditar').value = lastname;
            document.getElementById('contactEditar').value = contact;
            document.getElementById('detailsEditar').value = details;
            document.getElementById('eventDate').value = eventDate;
            document.getElementById('salonType').value = salonType;
            document.getElementById('amountChild').value = amountChild;
            document.getElementById('amountAdult').value = amountAdult;
            document.getElementById('specificDetails').value = specificDetails;

            document.getElementById('formEditar').setAttribute('action', '/perfilAdmin/update/' + clientId);
        });
    });
});
</script>

<!-- validar pagos del form edit -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const formEditar = document.getElementById('formEditar');
        formEditar.addEventListener('submit', function(event) {
            const amountChild = document.getElementById('amountChild').value;
            const amountAdult = document.getElementById('amountAdult').value;

            if (amountChild < 0 || amountAdult < 0) {
                event.preventDefault();
                alert('Los montos de pago deben ser positivos.');
            }
        });
    });
</script>

<!-- script buscador -->
<script>
    document.getElementById('buscarCliente').addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        const searchWords = searchTerm.split(' ').filter(word => word.trim() !== '');
        const clientes = document.querySelectorAll('#listaClientesBody tr');
        let resultadosEncontrados = false;

        clientes.forEach(function(cliente) {
            const name = cliente.querySelector('.client-name').textContent.toLowerCase();
            const lastname = cliente.querySelector('.client-lastname').textContent.toLowerCase();
            const email = cliente.querySelector('.client-email').textContent.toLowerCase();
            const combined = `${name} ${lastname} ${email}`;
            const matches = searchWords.every(word => combined.includes(word));
            if (matches) {
                cliente.style.display = '';
                resultadosEncontrados = true;
            } else {
                cliente.style.display = 'none';
            }
        });
        const mensajeResultado = document.getElementById('mensajeResultado');
        if (!resultadosEncontrados) {
            mensajeResultado.style.display = 'flex';
            mensajeResultado.style.justifyContent = 'center';
        } else {
            mensajeResultado.style.display = 'none';
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const detailsButtons = document.querySelectorAll('.details-button');
        detailsButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const clientId = this.getAttribute('data-id');
                fetch(`/perfilAdmin/clientDetails/${clientId}`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('client-details').innerHTML = data;
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });
</script>

</body>
</html>