<h1>el footer</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- script de form registro y login -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
        const signupForm = document.getElementById('signupForm');
        const signinForm = document.getElementById('signinForm');

        function validateForm(form) {
            const inputs = form.querySelectorAll('.validate');
            for (let i = 0; i < inputs.length; i++) {
                if (!inputs[i].value.trim()) {
                    return false;
                }
            }
            return true;
        }
        function addFormSubmitListener(form) {
            form.addEventListener('submit', function(event) {
                if (!validateForm(form)) {
                    event.preventDefault();
                    M.toast({html: 'Por favor, rellena los campos.', classes: 'red'});
                }
            });
        }
        if (signupForm) {
            addFormSubmitListener(signupForm);
        }
        if (signinForm) {
            addFormSubmitListener(signinForm);
        }
    });
</script>

<!-- script inicializa modales -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
    });
</script>

<!-- script form editar cliente existente trayendo sus datos  -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', function() {
            const clientId = this.getAttribute('data-id');
            const email = this.getAttribute('data-email');
            const name = this.getAttribute('data-name');
            const lastname = this.getAttribute('data-lastname');
            const contact = this.getAttribute('data-contact');
            const details = this.getAttribute('data-details');

            document.getElementById('clientId').value = clientId;
            document.getElementById('emailEditar').value = email;
            document.getElementById('nameEditar').value = name;
            document.getElementById('lastnameEditar').value = lastname;
            document.getElementById('contactEditar').value = contact;
            document.getElementById('detailsEditar').value = details;
            document.getElementById('formEditar').setAttribute('action', '/perfilAdmin/update/' + clientId);
        });
    });
});
</script>

<!-- script buscador -->
<script>
    document.getElementById('buscarCliente').addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        const searchWords = searchTerm.split(' ').filter(word => word.trim() !== '');
        const clientes = document.querySelectorAll('#listaClientesBody tr');
        let resultadosEncontrados = false;

        clientes.forEach(function(cliente) {
            const name = cliente.querySelector('.client-name').textContent.toLowerCase();
            const lastname = cliente.querySelector('.client-lastname').textContent.toLowerCase();
            const email = cliente.querySelector('.client-email').textContent.toLowerCase();
            const combined = `${name} ${lastname} ${email}`;
            const matches = searchWords.every(word => combined.includes(word));
            if (matches) {
                cliente.style.display = '';
                resultadosEncontrados = true;
            } else {
                cliente.style.display = 'none';
            }
        });
        const mensajeResultado = document.getElementById('mensajeResultado');
        if (!resultadosEncontrados) {
            mensajeResultado.style.display = 'flex';
            mensajeResultado.style.justifyContent = 'center';
        } else {
            mensajeResultado.style.display = 'none';
        }
    });
</script>
</body>
</html>