<h1>el footer</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- script de form registro y login -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
        const signupForm = document.getElementById('signupForm');
        const signinForm = document.getElementById('signinForm');

        function validateForm(form) {
            const inputs = form.querySelectorAll('.validate');
            for (let i = 0; i < inputs.length; i++) {
                if (!inputs[i].value.trim()) {
                    return false;
                }
            }   
            return true;
        }
        function addFormSubmitListener(form) {
            form.addEventListener('submit', function(event) {
                if (!validateForm(form)) {
                    event.preventDefault();
                    M.toast({html: 'Por favor, rellena los campos.', classes: 'red'});
                }
            });
        }
        if (signupForm) {
            addFormSubmitListener(signupForm);
        }
        if (signinForm) {
            addFormSubmitListener(signinForm);
        }
    });
</script>

<!-- script inicializa modales -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
    });
</script>

<!-- script form editar cliente existente trayendo sus datos  -->
<script>
    function cargarDatosCliente(id, email, name, lastname, contact, details) {
        // traigo los respectivos datos del cliente
        document.getElementById('emailEditar').value = email;
        document.getElementById('nameEditar').value = name;
        document.getElementById('lastnameEditar').value = lastname;
        document.getElementById('contactEditar').value = contact;
        document.getElementById('detailsEditar').value = details;
        // Cambia valor de btn
        document.getElementById('formEditar').setAttribute('action', '/perfilAdmin/update/' + id);
        document.querySelector('#modalEditar h4').textContent = 'Editar';
    }
</script>

<!-- script form editar cliente -->
<script>
    document.getElementById('formEditar').addEventListener('submit', async function(event) {
        const clientId = document.getElementById('clientId').value; // Obtengo ID cliente
        const formData = new FormData(this); // Obtengo los datos del form
        try {
            const response = await fetch(`/perfilAdmin/update/${clientId}`, {
                method: 'PUT',
                body: formData
            });
            if (response.ok) {
                console.log('cliente actualizado');
            } else {
                console.error('Error al actualizar el cliente');
            }
        } catch (error) {
            console.error('Error de red:', error);
        }
    });
</script>

<!-- script buscador -->
<script>
    function buscarClientes(terminoBusqueda) {
        const termino = terminoBusqueda.toLowerCase();
        const filasClientes = document.querySelectorAll('.listaClientes tbody tr');
        let resultadosEncontrados = false;

        filasClientes.forEach(fila => {
            const nombre = fila.querySelector('td:nth-child(1)').textContent.toLowerCase();
            const apellido = fila.querySelector('td:nth-child(2)').textContent.toLowerCase();
            const email = fila.querySelector('td:nth-child(3)').textContent.toLowerCase();
            if (nombre.includes(termino) || apellido.includes(termino) || email.includes(termino)) {
            fila.style.display = '';
            resultadosEncontrados = true;
            } else {
            fila.style.display = 'none'; 
            }
        });

        const mensajeResultado = document.getElementById('mensajeResultado');
        if (!resultadosEncontrados) {
            mensajeResultado.style.display = 'flex';
            mensajeResultado.style.justifyContent = 'center';
        } else {
            mensajeResultado.style.display = 'none';
        }
    }
    const inputBusqueda = document.getElementById('inputBusqueda');
        inputBusqueda.addEventListener('input', function() {
        const terminoBusqueda = this.value.trim(); 
        if (terminoBusqueda === '') {
            mostrarTodasLasFilas(); 
        } else {
            buscarClientes(terminoBusqueda);
        }
    });
    function mostrarTodasLasFilas() {
        const filasClientes = document.querySelectorAll('.listaClientes table tbody tr');
        filasClientes.forEach(fila => {
            fila.style.display = ''; 
        });
    }
</script>
</body>
</html>