<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Opcional: Añadir íconos de Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Bienvenido/a</title>
</head>
<body>
    <% if (typeof body == 'undefined') { %>
        <h1>Por favor, registre o inicie sesión</h1>
    <% } else { %>
        <!-- Si hay contenido para el cuerpo en otro archivo, lo llamo -->
        <%- body %>
    <% } %>
<!-- esta será la plantilla que se compartira entre rutas, llamandola como layout en los de+ archivos -->
