<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Web</title>
</head>
<body> 
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if (user) { %>
        <li><a href="">Empresa</a></li>
        <li><a href="/logout">logout</a></li>
        <% } else { %>
          <li><a href="">Empresa</a></li>
          <li><a href="/signup">Registrarse</a></li>
          <li><a href="/signin">Iniciar sesión</a></li>
        <% }   %>
      </ul>
    </div>
  </nav>
    <% if (typeof body == 'undefined') { %>
        <h1>Bienvenide hasta aca termina el main </h1>
    <% } else { %>
        <%- body %>
    <% } %>

